
<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				<h5>Customer</h5>
				<hr>
				<button type="button" class="btn btn-outline-danger btn-lg btn-block">Update Customer</button>
				<button type="button" class="btn btn-outline-success btn-lg btn-block">Delete Customer</button>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				<h5>Contact Information</h5>
				<hr>
				

				<h5>Name:</h5>
				<a >{{customer.email}}</a>
				<h5>Phone:</h5>
				<a >{{customer.phone}}</a>


			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				<h5>Total Order</h5>
				<hr>
				<h5 style="text-align: center;">{{total_or}}</h5>
			</div>
		</div>
	</div>

</div>
