<br>
<div class="row">
	
		<div class="col-md-4">
			<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
				<div style='text-align: center'class="card-header"><h3>Total Orders</h3></div>
				<div class="card-body">
					<h5 style="text-align: center"class="card-title">{{total_or}}</h5>
					
				</div>
			</div>
		</div>
	
	
		<div class="col-md-4">
			<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
				<div style='text-align: center'class="card-header"><h3>Orders Delivered</h3></div>
				<div class="card-body">
					<h5 style="text-align: center"class="card-title">{{Delivered}}</h5>
					
				</div>
			</div>
		</div>
	
	
		<div class="col-md-4">
			<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
				<div style='text-align: center'class="card-header"><h3>Orders Pending</h3></div>
				<div class="card-body">
					<h5 style="text-align: center"class="card-title">{{Pending}}</h5>
					
				</div>
			</div>
		</div>
	
</div>
